---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/ruby
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2b747fa65121d2df1026da1cbb33dc7006a5356210eecbb16cc9069eb832eafe"
      last-modified:
      - Wed, 23 Mar 2022 14:06:07 GMT
      x-github-media-type:
      - github.v3; format=json
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '44'
      x-ratelimit-reset:
      - '1648752692'
      x-ratelimit-resource:
      - core
      x-ratelimit-used:
      - '16'
    body:
      encoding: UTF-8
      string: '{"login":"ruby","id":210414,"node_id":"MDEyOk9yZ2FuaXphdGlvbjIxMDQxNA==","avatar_url":"https://avatars.githubusercontent.com/u/210414?v=4","gravatar_id":"","url":"https://api.github.com/users/ruby","html_url":"https://github.com/ruby","followers_url":"https://api.github.com/users/ruby/followers","following_url":"https://api.github.com/users/ruby/following{/other_user}","gists_url":"https://api.github.com/users/ruby/gists{/gist_id}","starred_url":"https://api.github.com/users/ruby/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ruby/subscriptions","organizations_url":"https://api.github.com/users/ruby/orgs","repos_url":"https://api.github.com/users/ruby/repos","events_url":"https://api.github.com/users/ruby/events{/privacy}","received_events_url":"https://api.github.com/users/ruby/received_events","type":"Organization","site_admin":false,"name":"The
        Ruby Programming Language","company":null,"blog":"https://www.ruby-lang.org/","location":"Matsue,
        Japan","email":"info@ruby-lang.org","hireable":null,"bio":"Repositories related
        to the Ruby Programming language","twitter_username":null,"public_repos":163,"public_gists":0,"followers":0,"following":0,"created_at":"2010-02-25T03:48:00Z","updated_at":"2022-03-23T14:06:07Z"}'
  recorded_at: Thu, 31 Mar 2022 18:28:27 GMT
recorded_with: VCR 6.1.0
